<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Add Author</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='schneider_cpc.css') }}">
</head>

<body>
  <div class="window">
    <div class="title-bar">Add Author</div>
    <div class="content">

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      <form action="/add_author" method="POST">
        <label for="name">Author Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="birthdate">Birthdate:</label>
        <input type="date" id="birthdate" name="birthdate" required>

        <label for="date_of_death">Date of Death:</label>
        <input type="date" id="date_of_death" name="date_of_death">

        <input type="submit" value="Add Author">
      </form>

    </div>
  </div>

  <nav>
    <a href="/">Home</a> |
    <a href="/add_book">Add Book</a> |
    <a href="/add_author">Add Author</a>
  </nav>
  <hr>
</body>

</html>